



.flirtingLayout{
  width: 100vw;
  font: size 14px;
  display:flex;
  justify-content: center;
  background-color: #eee;
  height: 500vh;
}

.startPageLayout{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #ffea35;
width: 100%;
/*max-width: 900px;*/
height: 100vh;
color: #413730;
}


.startLogo{
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size:25px;
 font-weight: 700;
 
}
       
.startLogo div:nth-child(1){
  background-color: #413730;
  color: #ffea35;
  width: 100px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.startLogo div:nth-child(2){
margin-top: -15px;
}

.startButton{
  font-size: 17px;
  font-weight: 700;
  margin-top: 20px;
}


.questionLayout{
  display: flex;
  flex-direction: column;
  background-color: #bacee0;
  width: 100%;

  height: 100vh;
  overflow: hidden;
}

.flirtingTitle{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;

}

.flirtingTitle div:nth-child(1){
  display: flex;
  flex:1;
}

.ifListLayout{
 display: flex;
 flex-direction: column;
}
                  
.ifBox{
  width: 100%;
  height: 50px;
  background-color: #413730;
}


.questionList{
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  scrollbar-width: none;
}

.questionList::-webkit-scrollbar{
  display: none;
}


.questionItemLayout{
display: flex;
flex: 1;
margin: 10px 15px 5px 15px;
}
                
.answerItemLayout{
width: 100%;
background-color: #fff;
padding-bottom: 10px;
display: flex;
flex-direction: column;
}

.ifListLayout{
  display: flex;
  background-color: #413730;
  width: 80%;
  align-items: center;
  margin: auto;
  opacity: 0.5;
  padding: 2px;
  border-radius: 15px;
}

.ifListLayout :nth-child(1){
  font-size: 10px;
  align-items: center;
  color: #fff;
  padding: 2px;
  margin: 4%;
}





.profileImg{
  display: flex;
  flex-direction: column;
  width: 35px;
  height: 35px;
  background-color: #a1b6e9;
  border-radius: 15px;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  }

.profileImg div:nth-child(1){
  background-color: #cbd6f2;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.profileImg div:nth-child(2){
  background-color: #cbd6f2;
  width: 16px;
  height: 8px;
  border-radius: 8px 8px 0px 0px;
}

.chatListLayout{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}


.chatBox{
display: flex;
flex-direction: row;
align-items: flex-start;
max-width: 60vw;
font-size: 13px;
margin: 3px 0px 12px 0px;
}

.chatBox div:nth-child(1){
  color: #fff;
  font-size: 4px;
  margin-top: 5px;
}

.chatBox div:nth-child(2){
  padding: 7px 10px 7px 10px;
  background-color: #fff;
  margin-left: -4px;
  border-radius: 10px;
  text-align: left;
}

.aChatBox{
  display: flex;
  width: 100%;
  color: #969696;
  font-size:22px;
  border-bottom: 1px solid #eee;
  margin-bottom: 25px;
}

.aChatBox div:nth-child(1){
  display: flex;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

.aChatBox div:nth-child(2){
  padding: 10px;
  text-align: center;
}

.answerBox{
  display: flex;
  align-items: center;
  text-align: center;
  justify-self: center;
  height: 50px;
  text-align: center;
  box-shadow: 2px 2px 0px #ededed;
  border: 1px solid #ededed;
  margin: 0px 20px 15px 20px;
  border-radius: 10px ;
}